---

---

<section class="flex flex-col gap-8">
  <div class="flex gap-2 items-center">
    <div class="flex flex-col gap-2">
      <h1 class="text-5xl font-bold">Well, hello there!</h1>
      <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
        earum quaerat vitae exercitationem corrupti perspiciatis rerum
        voluptates sit aliquid.
      </h4>
    </div>
    <div class="text-9xl">👋</div>
  </div>
  <div>
    <h2 class="font-bold text-xl">About</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, earum
      quaerat vitae exercitationem corrupti perspiciatis rerum voluptates sit
      aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Cupiditate, earum quaerat vitae exercitationem corrupti perspiciatis rerum
      voluptates sit aliquid.
    </p>
  </div>
</section>
