---
import Heading from "@/components/Heading.astro";
import { BentoCard, BentoGrid } from "@/components/magicui/bento-grid";

import { ProjectsData } from "@/constants/Projects";
---

<section class="flex flex-col gap-8 items-center">
  <div class="flex flex-col gap-2">
    <Heading>Projects</Heading>
    <h2 class="text-center text-5xl tracking-tight font-bold">
      Check out my latest work
    </h2>
    <h3 class="text-center text-2xl">
      Whether it be a hobby project or a full time job. I put it all here. Feel
      free to check it if you're interested.
    </h3>
  </div>
  <BentoGrid>
    {ProjectsData.map((project) => <BentoCard {...project} />)}
  </BentoGrid>
</section>
