---
import {
  BellIcon,
  CalendarIcon,
  FileTextIcon,
  GlobeIcon,
  TextSearchIcon,
} from "lucide-react";

import { BentoCard, BentoGrid } from "@/components/magicui/bento-grid";

const features = [
  {
    Icon: FileTextIcon,
    name: "Save your files",
    description: "We automatically save your files as you type.",
    href: "/",
    cta: "Learn more",
    background: "",
    className: "col-span-3 lg:col-span-1",
  },
  {
    Icon: TextSearchIcon,
    name: "Full text search",
    description: "Search through all your files in one place.",
    href: "/",
    cta: "Learn more",
    background: "",
    className: "col-span-3 lg:col-span-2",
  },
  {
    Icon: GlobeIcon,
    name: "Multilingual",
    description: "Supports 100+ languages and counting.",
    href: "/",
    cta: "Learn more",
    background: "",
    className: "col-span-3 lg:col-span-2",
  },
  {
    Icon: CalendarIcon,
    name: "Calendar",
    description: "Use the calendar to filter your files by date.",
    href: "/",
    cta: "Learn more",
    background: "",
    className: "col-span-3 lg:col-span-1",
  },
];
---

<section class="flex flex-col gap-8 items-center">
  <div class="flex flex-col gap-2">
    <h1
      class="bg-black rounded-lg px-3 py-1 text-sm text-background w-fit mx-auto"
    >
      Projects
    </h1>
    <h2 class="text-center text-5xl tracking-tight font-bold">
      Check out my latest work
    </h2>
    <h3 class="text-center text-2xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi officiis
      labore harum voluptatibus, consequatur voluptatem dolorum at odi.
    </h3>
  </div>
  <BentoGrid>
    {features.map((feature) => <BentoCard {...feature} />)}
  </BentoGrid>
</section>
