---
import { VelocityScroll } from "@/components/magicui/scroll-based-velocity";
import { Experiences } from "@/constants/Experiences";
import { Certificates } from "@/constants/Educations";

const allSkill = [
  ...new Set([
    ...Experiences.map((exp) => exp.skills),
    ...Certificates.map((cert) => cert.skills),
  ]),
]
  .flat()
  .join(" ");
---

<section class="flex flex-col gap-2 items-center">
  <h1 class="bg-black rounded-lg px-3 py-1 text-sm text-background">
    Tech Stacks
  </h1>
  <VelocityScroll
    text={allSkill}
    default_velocity={0.25}
    className="font-display text-center text-2xl font-bold tracking-[-0.02em] text-black drop-shadow-sm dark:text-white md:text-6xl md:leading-snug"
    client:load
  />
</section>
