body {
  padding-top: 100px;
  background-color: yellow;
}

#container {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
}

#left {
  padding: 75px 30px 75px;
  width: 60%;
  border-right: 3px solid black;
}

#right {
  width: 40%;
}

h1 {
  font-size: 3em;
  padding: 5px;
  border: 10px solid black;
  border-radius: 20px;
  margin: auto;
  width: 40%;
}

p {
  font-size: 1.2em;
}

p#id-01 {
  color: green;
}

p#id-02 {
  color: red;
}

#input {
  font-size: 1.2em;
  width: 70%;
  height: 30px;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid black;
}

#button {
  font-size: 1.2em;
  background-color: darkgoldenrod;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  width: 70px;
  color: white;
}

#button:active {
  background-color: goldenrod;
  position: relative;
  top: 1px;
}

li {
  list-style: none;
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: cyan;
  position: relative;
  left: -20px;
  text-align: left;
  display: flex;
}

.delete-button {
  margin-left: auto;
  border: none;
  background-color: inherit;
}

.delete-button:hover {
  color: red;
}

.done {
  background-color: lawngreen !important;
  color: rgb(9, 107, 0);
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 0.8em;
  }
  #container {
    flex-direction: column;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    border: 5px solid black;
  }

  #left {
    border: none;
    margin: auto;
  }

  #input {
    width: 100%;
  }

  #button {
    margin-top: 10px;
    position: relative;
    left: 5px;
  }

  #right {
    margin: auto;
  }
}