body {
  background-color: blanchedalmond ;
}

#container {
  margin: 100px auto;
  border-radius: 20px;
  background-color: whitesmoke;
  border: 2px solid red;
  width: 400px;
  height: 450px;
}

h1 {
  background-color: darksalmon;
  font-size: 2em;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

#calculator {
  margin: 20px;
}

#kualitas {
  font-size: 1.6em;
  background-color: ghostwhite;
}

#calculate {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 2em;
  border: 3px solid black;
  border-radius: 5px;
  background-color: brown;
  color: aliceblue;
}

#calculate:hover {
  background-color: coral;
}

#calculate:active {
  position: relative;
  top: 1px;
}

#total-tip {
  display: none;
  text-align: center;
}