---
import DownloadCV from "./DownloadCV";
import HyperText from "./magicui/hyper-text";

const NavLinks = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Blogs",
    url: "/blogs",
  },
];

const currentPath = new URL(Astro.request.url).pathname;
---

<nav
  class="flex flex-col justify-between h-screen px-2 py-5 -mt-5 sticky top-0 self-start max-sm:hidden items-center bg-background"
>
  <div class="flex flex-col gap-2 group">
    <img
      class="w-16 aspect-square bg-neutral-500 rounded-xl rotate-90 mix-blend-luminosity group-hover:mix-blend-normal group-hover:rotate-0 transition-all"
      src="/images/profile/KessokuPortrait.JPG"
    />
    <div class="flex justify-center">
      <h4 class="" style="writing-mode: vertical-lr;">dovjay/vaust</h4>
      <h3
        class="font-bold text-xl group-hover:text-pink-400"
        style="writing-mode: vertical-lr;"
      >
        Dovan Sanjaya
      </h3>
    </div>
  </div>
  <div class="flex flex-col gap-8">
    {
      NavLinks.map((link) => (
        <a
          href={link.url}
          class={
            link.url !== currentPath
              ? "opacity-25 hover:opacity-100 hover:cursor-pointer"
              : ""
          }
        >
          <HyperText
            client:load
            className="text-xl font-bold text-black dark:text-white"
            text={link.name}
            style={{ writingMode: "vertical-lr" }}
          />
        </a>
      ))
    }
  </div>
  <DownloadCV client:load />
</nav>

<script is:inline></script>
