---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry, render } from "astro:content";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;
const { entry } = Astro.props;
// const { Content } = () => "test";
---

<!-- <Content /> -->
<p>test</p>
