---
import { DockNav } from "@/components/DockNav";
import SideBar from "@/components/SideBar.astro";
import "@/styles/globals.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
    <script>
      (function () {
        const theme = document.cookie
          .split("; ")
          .find((row) => row.startsWith("theme="))
          ?.split("=")[1];
        if (
          theme === "dark" ||
          (theme === "system" &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>
  </head>
  <body>
    <main class="container mx-auto pt-16 pb-40">
      <div class="flex gap-4">
        <SideBar />
        <article class="w-full flex flex-col gap-20">
          <slot />
        </article>
      </div>
    </main>
    <DockNav client:load />
  </body>
</html>
